.header {
    align-items: center;
    background: rgba(255, 255, 255, .3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7), 0 0 5px rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    padding: 0px 75px;
    position: fixed;
    width: 100%;

    .logo {
        padding: 50px 0px;

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: #628c67;
            font-size: 29px;
            font-family: Kanit,sans-serif;
            font-weight: bold;
            letter-spacing: 0em;
        }
    }

    .links {
        display: flex;
        justify-content: center;
        gap: 120px;
        padding-right: 200px;

        .link {
            a {
                color: #000000;
                font-family: Helvetica;
                font-size: 16px;
                letter-spacing: .05em;
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 991px) {
    .header {
        box-shadow: 0 0 .5vw rgba(0, 0, 0, 0.7), 0 0 5px rgba(0, 0, 0, 0.7);
        padding: 0px 7.5vw;
        
        .logo {
            // padding: 50[x] 0px;
    
            // a {
            //     font-size: 3vw;
            // }
        }
    
        .links {
            display: none;
            gap: 12vw;
            padding-right: 20vw;
    
            .link {
                a {
                    font-size: 1.6vw;
                    letter-spacing: .08vw;
                }
            }
        }
    }
}